
<div class="row">
    <div class="col-md-6">
      <table border="1" cellspacing="0">
        <thead>
          <tr>
            <th>Asset Id</th>
            <th>Asset Name</th>
            <th>Purchased Date</th>
          </tr>
        </thead>
        <tr *ngFor='let list of listOfAssets.recentPerchased'>
          <td>
              {{list.assetsId}}
          </td>
          <td>
           {{list.name}}
         </td>
         <td>
           {{list.date}}
         </td>
         </tr>
       </table>
    </div>
    <div class="col-md-6">
      <table border="1" cellspacing="0">
          <thead>
              <tr>
                  <th>Asset Id</th>
                  <th>Asset Name</th>
                  <th>Assinged Date</th>
              </tr>
            </thead>
        <tr *ngFor='let list2 of listOfAssets.assestsAllocated'>
          <td>
              {{list2.assetsId}}
          </td>
          <td>
           {{list2.name}}
         </td>
         <td>
           {{list2.date}}
         </td>
         </tr>
       </table>
    </div>
  </div>
  
  
  
  
  <div class="row"> 
    <div class="col-md-6">
      <table border="1" cellspacing="0">
          <thead>
              <tr>
                  <th>Asset Id</th>
                  <th>Asset Name</th>
                  <th>Damaged Date</th>
              </tr>
            </thead>
        <tr *ngFor = 'let list3 of listOfAssets.recentDamaged'>
          <td>
              {{list3.assetsId}}
          </td>
          <td>
           {{list3.name}}
         </td>
         <td>
           {{list3.date}}
         </td>
         </tr>
       </table>
    </div>
  
    <div class="col-md-6">
      <table border="1" cellspacing="0">
          <thead>
              <tr>
                  <th>Asset Id</th>
                  <th>Asset Name</th>
                  <th>Damaged Date</th>
                  <th>Assinged To</th>
              </tr>
            </thead>
        <tr *ngFor = 'let list4 of listOfAssets.recentAssigned'>
          <td>
              {{list4.assetsId}}
          </td>
          <td>
           {{list4.name}}
         </td>
         <td>
           {{list4.date}}
         </td>
         <td>
          {{list4.assingedTo}}
         </td>
         </tr>
       </table> 
    </div>
    
  </div>
  
  